* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f6f4ff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.navbar {
    width: 100%;
    height: 80px;
    background-color: #3B0764;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
    flex-shrink: 0;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links a {
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 16px;
    border-radius: 6px;
    border: 1px solid transparent;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    transition: 0.2s ease;
}

.nav-links a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.12);
    border-color: rgba(255, 255, 255, 0.18);
}

.nav-links a:last-child:hover {
    background-color: rgba(255, 0, 0, 0.759);
    border-color: rgba(255, 0, 0, 0.759);
}


.page-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 30px;
    width: 100%;
}


.edit-box {
    width: 100%;
    max-width: 750px;
    max-height: 1350px;
    background: white;
    border: 1px solid #5f10bf4c;
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.08);
    color: rgb(58, 7, 100);
    padding: 30px 35px 40px 35px;
}

.edit-box h2 {
    font-size: 20px;
    font-weight: 700;
    color: #2f054f;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1.5px solid #e0ddd8;
    text-align: left;
}


.edit-layout {
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.cover-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}

.cover-photo {
    width: 200px;
    height: 270px;
    border-radius: 8px;
    object-fit: cover;
    border: 1px solid #e0ddd8;
}

.cover-buttons {
    display: flex;
    gap: 38px;
    width: 100%;
}

.change-cover-button {
    cursor: pointer;
    background-color: #521f91;
    color: white;
   
    border-radius: 8px;
    border: none;
    font-size: 13px;
}

.change-cover-button input[type="file"] {
    display: none;
}

.change-cover-button:hover {
    background-color: #9350e5;
}

.delete-cover-button {
    cursor: pointer;
    background-color: rgba(79, 74, 85, 0.979);
    color: white;
    padding: 7px 16px;
    border-radius: 8px;
    border: none;
    font-size: 13px;
}


.change-cover-button,
.delete-cover-button {
    width: 80px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    border-radius: 8px;
    border: none;
    font-size: 13px;
}

.delete-cover-button:hover {
    background-color: #e55050;
}


.book-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.book-info input,
.book-info select,
.book-info textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 4px 1px;
    border: 1px solid #671ac46d;
    border-radius: 6px;
    box-shadow: 6px 6px 20px#0f0c111b;
    margin: 0 0 30px 0;
    color: #36145f;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

label {
    display: flex;
    align-items: center;
    margin: 0 0 4px 0;
    color: #36145f;
    font-weight: 600;
    font-size: 13px;
}

.submit-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  
}

.Update-button {
    cursor: pointer;
    background-color: #521f91;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: 600;
}

.Update-button:hover {
    background-color: #9350e5;
}

.Clear-button {
    cursor: pointer;
    background-color: rgba(79, 74, 85, 0.979);
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: 600;
}

.Clear-button:hover {
    background-color: #e55050;
}


.footer {
    flex-shrink: 0;
    width: 100%;
    background-color: #3B0764;
    color: white;
    text-align: center;
    padding: 20px 40px;
    font-size: 13px;
}

.error-messages {
    width: 100%;
    max-width: 750px;

    background-color: #fff0f0;
    border: 1px solid #e55050;
    color: #b42318;

    padding: 14px 18px;
    border-radius: 10px;

    margin-bottom: 20px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.error-messages ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.error-messages li {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
}

.error-messages li:last-child {
    margin-bottom: 0;
}
